<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>分数界面</title>
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/fen.css"/>
    </head>
    <body>
        <div class="content">
            <h3>考试分数</h3>
            <div class="panel">
                <h1>{$data}分</h1>
            </div>
        </div>
    </body>
</html>