<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>试卷列表</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/ht.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/ht2.css"/>
    <script type="text/javascript" src="__STATIC__/js/ht.js"></script>
</head>
<body>

<div class="sidebar-wrap">
    <div class="sidebar-title">
        <h1>菜单</h1>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li>
                <ul class="sub-menu">
                    <li><a href={:url('index/Dome/name')}><i class="icon-font">&#xe008;</i>学生列表</a></li>
                    <li><a href={:url('index/Dome/name_index')}><i class="icon-font">&#xe005;</i>添加学生信息</a></li>
                    <li><a href={:url('index/Dome/index')}><i class="icon-font">&#xe006;</i>考试卷列表</a></li>
                    <li><a href={:url('index/Dome/index_index')}><i class="icon-font">&#xe004;</i>添加考卷</a></li>
                    <li><a href={:url('index/Dome/topic')}><i class="icon-font">&#xe012;</i>题目列表</a></li>
                    <li><a href={:url('index/Dome/topic_index')}><i class="icon-font">&#xe052;</i>添加考题</a></li>
                    <li><a href={:url('index/Dome/chj')}><i class="icon-font">&#xe033;</i>成绩单</a></li>
                </ul>
            </li>
            
        </ul>
    </div>
</div>
</body>
</html>